<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/bg2.jpg" class="d-block w-100" style="height: 360px;">
      </div>
      <div class="carousel-item">
        <img src="/images/bg1.jpg" class="d-block w-100" style="height: 360px;">
      </div>
      <div class="carousel-item">
        <img src="/images/bg3.jpg" class="d-block w-100" style="height: 360px;">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="homeCard">
    <h1 class="text-center" style="color:#fff">Dashboard</h1>
  </div>
  {{> analytics }}
  <hr>
  <a class="btn btn-warning float-right" href="/trips/add">New Trip</a>
  <div class="row">
    <div class="col-sm-12 col-xl-8">
      <div class="input-daterange input-group" id="datepicker">
        <input type="date" class="input-sm form-control" id="startDatepicker" name="startDatepicker" value="{{startDatepicker}}">
        <span class="input-group-addon">To</span>
        <input type="date" class="input-sm form-control" id="endDatepicker" name="endDatepicker" value="{{endDatepicker}}">
        <button class="btn btn-primary" onclick="click1()">ok</i></button>
        <script>
          function click1() {
            const startDtaePicker = document.getElementById("startDatepicker");
            const startDate = moment(startDtaePicker.valueAsDate).format('YYYY-MM-DD');
            const endDtaePicker = document.getElementById("endDatepicker");
            const endDate = moment(endDtaePicker.valueAsDate).format('YYYY-MM-DD');
            if (moment(startDate).isValid() && moment(endDate).isValid()) {
              window.location.href = `/dashboard?start=${startDate}&end=${endDate}`;
            } else {
              alert("check date fields are not empty!")
            }
          }
        </script>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {{> messages }}
  {{#if trips}}
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Reservation</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {{#each trips}}
      <tr class="border-bottom-danger">
        <th scope="row">{{../prefix}}{{_id}}</th>
        <td>{{../prefix}}{{from}}</td>
        <td>{{../prefix}}{{to}}</td>
        <td>{{../prefix}}{{date}}</td>
        <td style="color:rgb(49, 118, 247);">{{../prefix}}{{price}} $</td>
        <td>
          <a class="btn btn-info btn-mini waves-effect waves-light" href="/reservations/{{{ _id }}}">view</a>
          {{../prefix}}{{formateSeats seatsCount}}
        </td>
        <td>
          <a class="btn btn-primary btn-xs" href="/trips/edit/{{{ _id }}}">edit</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3 style="text-align: center;margin: 150px">No Trips Available!</h3>
  {{/if}}


</div>

<div class="pagination pagination-centered">
  <nav aria-label="...">
    <ul class="pagination">
      {{#paginate pagination type="first"}}
      <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link"
          href="?p={{n}}{{#if ../start}}&start={{../start}}{{/if}}{{#if ../end}}&end={{../end}}{{/if}}">First</a></li>
      {{/paginate}}
      {{#paginate pagination type="previous"}}
      <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link"
          href="?p={{n}}{{#if ../start}}&start={{../start}}{{/if}}{{#if ../end}}&end={{../end}}{{/if}}">Prev</a></li>
      {{/paginate}}
      {{#paginate pagination type="middle" limit="7"}}
      <li {{#if active}}class="page-item active" {{/if}}><a class="page-link"
          href="?p={{n}}{{#if ../start}}&start={{../start}}{{/if}}{{#if ../end}}&end={{../end}}{{/if}}">{{n}}</a></li>
      {{/paginate}}
      {{#paginate pagination type="next"}}
      <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link"
          href="?p={{n}}{{#if ../start}}&start={{../start}}{{/if}}{{#if ../end}}&end={{../end}}{{/if}}">Next</a></li>
      {{/paginate}}
      {{#paginate pagination type="last"}}
      <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link"
          href="?p={{n}}{{#if ../start}}&start={{../start}}{{/if}}{{#if ../end}}&end={{../end}}{{/if}}">Last</a></li>
      {{/paginate}}
    </ul>
  </nav>
</div>
<style>
  .homeCard {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    margin-top: 20px;
    border-radius: 20px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 170% 170%;
    animation: animate 15s ease infinite;
  }

  @keyframes animate {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>
<script src="/js/moment.min.js"></script>